<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato Recebido - DevBurger</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Mensagem Recebida!</h1>
        </header>
        
        <main>
            <div class="contato-info">
                <p>Obrigado por entrar em contato. Responderemos o mais breve possível!</p>
                <h2>Resumo do seu Contato:</h2>
                <div>
                    {{contato_placeholder}}
                </div>
                </div>
            <nav>
                <a href="/">Voltar ao Cardápio Principal</a>
            </nav>
        </main>
    </div>
</body>
</html>