<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado! - DevBurger</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Obrigado pela sua sugestão!</h1>
        </header>
        
        <main>
            <div class="agradecimento">
                <p>Recebemos sua ideia e nossa equipe de chefs já está de olho nela!</p>
                <h2>Detalhes da sua Sugestão:</h2>
                <div>
                    {{placeholder}}
                </div>
                </div>
            <nav>
                <a href="/">Voltar ao Cardápio</a>
            </nav>
        </main>
    </div>
</body>
</html>